.game-card {
	text-align: center;
	background: #f0f2f5;
}

.hand-icon {
	font-size: 100px;
	transition: transform 0.2s;
}

.player-side {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shaking {
	animation: shake 0.5s infinite;
}

@keyframes shake {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}
